
<div class="container" style="max-width: calc(100% - 100px)">
  <!-- Header -->
  <app-header></app-header>
  <hr>
  <div class="row">
    <div class="col-xl-2" style="margin-top:62px">
      <div class="card">
        <div class="card-header">Templates</div>
        <div class="card-body">
          <ngx-slick class="carousel carousel-template" #slickModal="slick-modal" [config]="slideConfig" (afterChange)="afterChange($event)">
            <div ngxSlickItem  *ngFor="let slide of slides;index as i" class="slide m-1 w-100">
              <div class="w-100" style=" height: 100px ; text-align: center; cursor: pointer " (click)="loadTemplate(i)">
                <p *ngIf=" ! AllTemplates[i] ; else bigPreview" style="line-height: 100px; font-size:24px; font-weight: bold;">{{i+1}}</p>
                <ng-template #bigPreview>
                  <div *ngIf="AllTemplates[i].allCanvas.length > 0">
                      <p *ngIf=" AllTemplates[i].allCanvas[0].json === '{}' ;else preview" style="line-height: 100px; font-size:24px; font-weight: bold;">{{i+1}}</p>
                      <ng-template #preview>
                        <img [src]="AllTemplates[i].allCanvas[0].preview" width="130px" height="100px">
                      </ng-template>
                  </div>
                </ng-template>

              </div>
            </div>
          </ngx-slick>

            <button class="btn w-100 mb-1 btn-primary mt-2" (click)="addTemplate()">New Template</button>
            <button class="btn w-100 mb-1 btn-primary" (click)="deleteTemplate()">DeleteTemplate</button>
            <button class="btn w-100 mb-1 btn-primary" (click)="slickModal.slickGoTo(2)">slickGoto 2</button>
          <button class="btn w-100 mb-1 btn-primary mt-2" (click)="log()">log</button>


        </div>
      </div>
    </div>
    <div class="col-xl-10">
      <app-template [template]="activeTemplate" (templateEmitter)="updateTemplate($event)"></app-template>
    </div>
  </div>
</div>
